# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Uploads
uploads/

# Instance
instance/

# Database
*.db

# Mac
.DS_Store
